/* styles.css */

/* Set a static background color for the entire website */
body {
  background-color: #f0f0f0; /* Light gray with a slight greenish tone */
}


/* Define a class for elements with random color fonts */
.random-color-font {
  /* Use a CSS animation to change colors randomly */
  animation: changeColor 8s infinite;
}

/* Define the keyframes for the color change animation */
@keyframes changeColor {
  0% {
    color: #00ff00; /* Start with a green color */
  }
  25% {
    color: #33ff33; /* Lighter green */
  }
  50% {
    color: #66ff66; /* Even lighter green */
  }
  75% {
    color: #99ff99; /* Lightest green */
  }
  100% {
    color: #00ff00; /* Back to the starting green color */
  }
}
